@use "../../partials/mixins";

.team-draw {
  display: flex;
  flex-direction: column;
  gap: 37px;
  height: fit-content;
  transform-origin: top;
  transition: transform 0.3s ease-in-out;

  &__title {
    @include mixins.font('xl title');
    color: var(--text);
    text-transform: uppercase;
    text-align: center;
    max-width: 700px;
  }

  &__mission {
    display: block;
    @include mixins.font('xxl title');
    color: var(--text);
    margin-top: 6px;
  }

  &__illustration {
    position: relative;
    width: 700px;
    aspect-ratio: 770/560;
    box-shadow: var(--shadow);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--text);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 1;
      background-blend-mode: darken;
      background: transparent url("../../../../assets/imgs/paper-texture.jpg") no-repeat;
      opacity: 0.3;
    }
  }

  &--step-2,
  &--step-3 {
    transform: scale(1.2);
  }

  &--step-2 {
    .team-draw {
      &__mission,
      &__illustration {
        opacity: 0;
        transform: scale(1.5);
      }
    }
  }

  &--step-3 {
    .team-draw {
      &__mission {
        opacity: 1;
        animation: mission-pop 0.3s;

        @keyframes mission-pop {
          0% {
            transform: scale(1.5);
            opacity: 0;
          }
          1% {
            transform: scale(1.5);
            opacity: 1;
          }
          90% {
            transform: scale(0.98) translateX(2px);
          }
          100% {
            transform: scale(1) translateX(0);
          }
        }
      }

      &__illustration {
        opacity: 1;
        animation: illustration-pop 0.4s;

        @keyframes illustration-pop {
          0% {
            opacity: 0;
            transform: scale(1.5);
          }
          24% {
            opacity: 0;
            transform: scale(1.5);
          }
          25% {
            opacity: 1;
            transform: scale(1.5);
          }
          90% {
            transform: scale(0.98) translateX(2px);
          }
          100% {
            transform: scale(1) translateX(0);
          }
        }
      }
    }
  }
}