.player-planel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 500px;
  padding: 20px 30px;
  background: var(--black-transparent-10);
  border-radius: var(--card-radius);

  @media screen and (max-width: 991px) {
    flex: 1;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 991px) {
      margin-bottom: 20px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}