@use "fonts";

@mixin font($text-type) {
  @if($text-type == 'xxl title') {
    font-family: fonts.$lilita-one;
    font-size: 3rem; // 48px
    font-weight: 400;
    text-transform: uppercase;
  } @else if($text-type == 'xl title') {
    font-family: fonts.$lilita-one;
    font-size: 2rem; // 32px
    font-weight: 400;
    text-transform: uppercase;
  } @else if($text-type == 'title') {
    font-family: fonts.$lilita-one;
    font-size: 1.5rem; // 24px
    font-weight: 400;
    text-transform: uppercase;
  } @else if($text-type == 'small title') {
    font-family: fonts.$lilita-one;
    font-size: 1.25rem; // 20px
    font-weight: 400;
    text-transform: uppercase;
  } @else if($text-type == 'input') {
    font-family: fonts.$lilita-one;
    font-size: 1.5rem; // 24px
    font-weight: 400;
  } @else if($text-type == 'footer') {
    font-family: fonts.$lilita-one;
    font-size: 1rem; // 16px
    font-weight: 400;
    text-transform: uppercase;
  } @else if($text-type == 'pseudo') {
    font-family: fonts.$lilita-one;
    font-weight: 400;
    font-size: 1rem; // 16px
  }  @else if($text-type == 'big text') {
    font-family: fonts.$inter;
    font-weight: 600;
    font-size: 1.5rem; // 24px
  } @else if($text-type == 'text') {
    font-family: fonts.$inter;
    font-weight: 600;
    font-size: 0.938rem; // 15px
  }
}

@mixin resetButton($border, $background) {
  cursor: pointer;
  border: $border;
  background: $background;
}