.avatar {
  &--choice {
    .avatar {
      &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 170px;
        border: var(--avatar-border);
        box-shadow: var(--avatar-shadow);

        .button {
          position: absolute;
          right: 0;
          bottom: -13px;
        }
      }
    }
  }

  &--player {
    &.avatar {
      min-width: 40px;
      max-width: 40px;
      min-height: 40px;
      max-height: 40px;
    }

    .avatar {
      &__container {
        width: 40px;
        height: 40px;
      }
    }
  }

  &--vote {
    .avatar {
      &__container {
        width: 34px;
        height: 34px;
        border: var(--tool-border);
        background: var(--black-transparent-50);
      }
    }
  }

  &__container {
    border-radius: 50%;
  }
}