@use "../../partials/mixins";

.dots-menu {
  position: relative;

  &__button {
    @include mixins.resetButton(none, var(--dark-orange));
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: absolute;
    z-index: 6;
    left: 0;
    bottom: -5px;
    transform: translateY(100%);
    border: var(--input-black-border);
    box-shadow: var(--3d-shadow-small);
    border-radius: var(--card-radius);
    overflow: hidden;

    @media screen and (max-width: 1099px) {
      position: initial;
      transform: translateY(0);
    }

    &-container {
      @media screen and (max-width: 1099px) {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--black-transparent-50);
      }
    }

    li {
      display: flex;
      height: fit-content;
    }
  }

  &__action {
    @include mixins.resetButton(none, var(--yellow));
    text-wrap: nowrap;
    display: flex;
    padding: 8px 26px 8px 10px;
    align-items: center;
    width: 100%;
    @include mixins.font("menus");

    &--danger {
      color: var(--red);
    }

    &:hover {
      background: var(--dark-yellow);
    }
  }
}

.player--you {
  .dots-menu {
    &__button {
      svg {
        circle {
          stroke: var(--light-orange);
        }
      }
    }
  }
}