.draw {
  position: relative;
  display: flex;
  gap: 25px;

  &__middle {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .timer {
    position: absolute;
    top: 0;
    right: 0;
  }
}