@use '../../partials/mixins';

.thicknesses {
  display: flex;
  gap: 19px;
  width: fit-content;
  padding: 12px;
  border-radius: 13px;
  border: 5px solid var(--dark-orange);
  background: var(--orange);
  box-shadow: var(--shadow);

  &__thickness {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    @include mixins.resetButton(var(--input-white-border), transparent);

    &:not(&--selected) {
      opacity: 0.5;
    }
  }

  .thickness {
    background-color: var(--text);
    border-radius: 50%;
  }
}