.timer {
  width: 58px;
  height: 58px;
  border: 4px solid var(--text);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: var(--shadow);

  &__time {
    display: flex;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--red) 0, var(--red) var(--elapsed), transparent var(--elapsed)) border-box;
    animation: deplete var(--countdown-duration) linear forwards;
  }

  @keyframes deplete {
    100% {
      --elapsed: 100%;
    }
  }
}

@property --elapsed {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}
