#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 40px 70px;
  background: var(--gradient-orange-red);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  flex: 1;

  &__logo {
    width: 350px;
  }

  &__onboarding {
    display: flex;
    gap: 40px;
  }
}