.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 40px 70px;
  background: var(--orange-red-gradient);

  @media screen and (max-width: 991px) {
    padding: 40px 20px;
  }

  @media screen and (max-width: 767px) {
    height: fit-content;
    gap: 40px;
  }

  &__logo {
    width: 350px;

    @media screen and (max-width: 1099px) {
      width: 250px;
    }
  }

  &__onboarding {
    display: flex;
    gap: 40px;

    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
}