@use '../partials/mixins';

.lobby {
  display: flex;
  justify-content: center;
  background: var(--orange-red-gradient);
  padding: 40px 120px 40px 120px;

  @media screen and (max-width: 1499px) {
    padding: 40px 120px 40px 40px;
  }

  @media screen and (max-width: 1099px) {
    padding: 40px;
  }

  @media screen and (max-width: 767px) {
    padding: 20px;
  }

  &__container {
    position: relative;
    display: flex;
    gap: 40px;

    @media screen and (max-width: 1299px) {
      gap: 30px;
    }

    @media screen and (max-width: 1099px) {
      flex-direction: column;
      align-items: flex-end;
      max-width: 100%;
    }

    @media screen and (max-width: 767px) {
      gap: 20px;
    }
  }

  .settings {
    position: absolute;
    top: 0;
    right: -3.76%;
    transform: translateX(100%);

    @media screen and (max-width: 1099px) {
      position: relative;
      top: initial;
      right: initial;
      transform: initial;
    }
  }

  .party {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 1;
    max-width: 940px;
    height: fit-content;

    &__actions {
      display: flex;
      gap: 40px;

      @media screen and (max-width: 991px) {
        gap: 30px;
      }

      @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
  }

  .copy-link {
    display: flex;
    height: fit-content;
    position: relative;

    &__text {
      position: absolute;
      left: 50%;
      bottom: -10px;
      transform: translate(-50%, 100%);
      @include mixins.font('text');
      color: var(--text);
      text-wrap: nowrap;
    }
  }
}