@use '../partials/mixins';

.lobby {
  display: flex;
  gap: 40px;
  background: var(--orange-red-gradient);

  .settings {
    position: absolute;
    top: 120px;
    right: 120px;
  }

  .copy-link {
    display: flex;
    height: fit-content;
    position: relative;

    &__text {
      position: absolute;
      left: 50%;
      bottom: -10px;
      transform: translate(-50%, 100%);
      @include mixins.font('text');
      color: var(--text);
      text-wrap: nowrap;
    }
  }
}